{% extends "base.html" %}

{% block title %}Sistema{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
 {{ info }}
 <a href="{{ base_url() }}/logout">Cerrar sesi&oacute;n</a>
{% endblock %}